In [1]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\rutaben\anaconda3\lib\site-packages (4.0.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
dblist=myclient.list_database_names()

if "mydatabase3" in dblist:
  print("The database exists.")
else:
    mydb = myclient["mydatabase3"]

collist = mydb.list_collection_names()
if "customers" in collist:
  print("The collection exists.")
else:
    mycol = mydb["customers"]
mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)
print(x.inserted_id)

6489490db8623247d4d60d7f

In [3]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase3"]
mycol = mydb["customers"]

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('64894a42b8623247d4d60d8e'), ObjectId('64894a42b8623247d4d60d8f'), ObjectId('64894a42b8623247d4d60d90'), ObjectId('64894a42b8623247d4d60d91'), ObjectId('64894a42b8623247d4d60d92'), ObjectId('64894a42b8623247d4d60d93'), ObjectId('64894a42b8623247d4d60d94'), ObjectId('64894a42b8623247d4d60d95'), ObjectId('64894a42b8623247d4d60d96'), ObjectId('64894a42b8623247d4d60d97'), ObjectId('64894a42b8623247d4d60d98'), ObjectId('64894a42b8623247d4d60d99')]

In [4]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase3"]
mycol = mydb["customers"]

mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [5]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase3"]
mycol = mydb["customers"]

x = mycol.find_one()

print(x)

{'_id': ObjectId('6489490db8623247d4d60d7f'), 'name': 'John', 'address': 'Highway 37'}

In [6]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase3"]
mycol = mydb["customers"]
for x in mycol.find():
  print(x)

{'_id': ObjectId('6489490db8623247d4d60d7f'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6489498db8623247d4d60d81'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6489498db8623247d4d60d82'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6489498db8623247d4d60d83'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6489498db8623247d4d60d84'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6489498db8623247d4d60d85'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6489498db8623247d4d60d86'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6489498db8623247d4d60d87'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6489498db8623247d4d60d88'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6489498db8623247d4d60d89'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6489498db8623247d4d60d8a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6489498db8623247d4d60d8b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6489498db8623247d4d60d8c'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [7]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase3"]
mycol = mydb["customers"]

for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [8]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase3"]
mycol = mydb["customers"]

for x in mycol.find({},{ "address": 0 }):
  print(x)

{'_id': ObjectId('6489490db8623247d4d60d7f'), 'name': 'John'}
{'_id': ObjectId('6489498db8623247d4d60d81'), 'name': 'Amy'}
{'_id': ObjectId('6489498db8623247d4d60d82'), 'name': 'Hannah'}
{'_id': ObjectId('6489498db8623247d4d60d83'), 'name': 'Michael'}
{'_id': ObjectId('6489498db8623247d4d60d84'), 'name': 'Sandy'}
{'_id': ObjectId('6489498db8623247d4d60d85'), 'name': 'Betty'}
{'_id': ObjectId('6489498db8623247d4d60d86'), 'name': 'Richard'}
{'_id': ObjectId('6489498db8623247d4d60d87'), 'name': 'Susan'}
{'_id': ObjectId('6489498db8623247d4d60d88'), 'name': 'Vicky'}
{'_id': ObjectId('6489498db8623247d4d60d89'), 'name': 'Ben'}
{'_id': ObjectId('6489498db8623247d4d60d8a'), 'name': 'William'}
{'_id': ObjectId('6489498db8623247d4d60d8b'), 'name': 'Chuck'}
{'_id': ObjectId('6489498db8623247d4d60d8c'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

In [9]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase3"]
mycol = mydb["customers"]

for x in mycol.find({},{ "_id": 1, "address": 0 }):
  print(x)

{'_id': ObjectId('6489490db8623247d4d60d7f'), 'name': 'John'}
{'_id': ObjectId('6489498db8623247d4d60d81'), 'name': 'Amy'}
{'_id': ObjectId('6489498db8623247d4d60d82'), 'name': 'Hannah'}
{'_id': ObjectId('6489498db8623247d4d60d83'), 'name': 'Michael'}
{'_id': ObjectId('6489498db8623247d4d60d84'), 'name': 'Sandy'}
{'_id': ObjectId('6489498db8623247d4d60d85'), 'name': 'Betty'}
{'_id': ObjectId('6489498db8623247d4d60d86'), 'name': 'Richard'}
{'_id': ObjectId('6489498db8623247d4d60d87'), 'name': 'Susan'}
{'_id': ObjectId('6489498db8623247d4d60d88'), 'name': 'Vicky'}
{'_id': ObjectId('6489498db8623247d4d60d89'), 'name': 'Ben'}
{'_id': ObjectId('6489498db8623247d4d60d8a'), 'name': 'William'}
{'_id': ObjectId('6489498db8623247d4d60d8b'), 'name': 'Chuck'}
{'_id': ObjectId('6489498db8623247d4d60d8c'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

In [10]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase3"]
mycol = mydb["customers"]

myquery = { "address": "Park Lane 38" }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('6489498db8623247d4d60d89'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

In [11]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase3"]
mycol = mydb["customers"]

myquery = { "address": { "$gt": "S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('6489498db8623247d4d60d83'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6489498db8623247d4d60d86'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6489498db8623247d4d60d88'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6489498db8623247d4d60d8c'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [12]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase3"]
mycol = mydb["customers"]

myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('6489498db8623247d4d60d86'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6489498db8623247d4d60d8c'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [13]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase3"]
mycol = mydb["customers"]

mydoc = mycol.find().sort("name")

for x in mydoc:
  print(x)

{'_id': ObjectId('6489498db8623247d4d60d81'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6489498db8623247d4d60d89'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6489498db8623247d4d60d85'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6489498db8623247d4d60d8b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6489498db8623247d4d60d82'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6489490db8623247d4d60d7f'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6489498db8623247d4d60d83'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6489498db8623247d4d60d86'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6489498db8623247d4d60d84'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6489498db8623247d4d60d87'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6489498db8623247d4d60d88'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6489498db8623247d4d60d8c'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6489498db8623247d4d60d8a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

In [14]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase3"]
mycol = mydb["customers"]

mydoc = mycol.find().sort("name", -1)

for x in mydoc:
  print(x)

{'_id': ObjectId('6489498db8623247d4d60d8a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6489498db8623247d4d60d8c'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6489498db8623247d4d60d88'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6489498db8623247d4d60d87'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6489498db8623247d4d60d84'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6489498db8623247d4d60d86'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6489498db8623247d4d60d83'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6489490db8623247d4d60d7f'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6489498db8623247d4d60d82'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6489498db8623247d4d60d8b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6489498db8623247d4d60d85'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6489498db8623247d4d60d89'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6489498db8623247d4d60d81'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

In [15]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase3"]
mycol = mydb["customers"]

myquery = { "address": "Mountain 21" }

new1=mycol.delete_one(myquery)
print(new1.deleted_count)

1

In [16]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase3"]
mycol = mydb["customers"]

myquery = { "address": {"$regex": "^S"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

4  documents deleted.

In [17]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase3"]
mycol = mydb["customers"]

x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

22  documents deleted.

In [18]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase3"]
mycol = mydb["customers"]

mycol.drop()

In [19]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase3"]
mycol = mydb["customers"]

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('64894ce8b8623247d4d60daa'), ObjectId('64894ce8b8623247d4d60dab'), ObjectId('64894ce8b8623247d4d60dac'), ObjectId('64894ce8b8623247d4d60dad'), ObjectId('64894ce8b8623247d4d60dae'), ObjectId('64894ce8b8623247d4d60daf'), ObjectId('64894ce8b8623247d4d60db0'), ObjectId('64894ce8b8623247d4d60db1'), ObjectId('64894ce8b8623247d4d60db2'), ObjectId('64894ce8b8623247d4d60db3'), ObjectId('64894ce8b8623247d4d60db4'), ObjectId('64894ce8b8623247d4d60db5')]

In [20]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase3"]
mycol = mydb["customers"]

myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
  print(x)

{'_id': ObjectId('64894ce8b8623247d4d60daa'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64894ce8b8623247d4d60dab'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64894ce8b8623247d4d60dac'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('64894ce8b8623247d4d60dad'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64894ce8b8623247d4d60dae'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64894ce8b8623247d4d60daf'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64894ce8b8623247d4d60db0'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64894ce8b8623247d4d60db1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64894ce8b8623247d4d60db2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64894ce8b8623247d4d60db3'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64894ce8b8623247d4d60db4'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64894ce8b8623247d4d60db5'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [21]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase3"]
mycol = mydb["customers"]

myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")
for x in mycol.find():
  print(x)

2 documents updated.
{'_id': ObjectId('64894ce8b8623247d4d60daa'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64894ce8b8623247d4d60dab'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64894ce8b8623247d4d60dac'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('64894ce8b8623247d4d60dad'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64894ce8b8623247d4d60dae'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64894ce8b8623247d4d60daf'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('64894ce8b8623247d4d60db0'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64894ce8b8623247d4d60db1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64894ce8b8623247d4d60db2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64894ce8b8623247d4d60db3'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64894ce8b8623247d4d60db4'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64894ce8b8623247d4d60db5'), 'name': 'Minnie', 'address': 'Sideway 1633'}

In [22]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase3"]
mycol = mydb["customers"]

myresult = mycol.find().limit(5)

#print the result:
for x in myresult:
  print(x)

{'_id': ObjectId('64894ce8b8623247d4d60daa'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64894ce8b8623247d4d60dab'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64894ce8b8623247d4d60dac'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('64894ce8b8623247d4d60dad'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64894ce8b8623247d4d60dae'), 'name': 'Betty', 'address': 'Green Grass 1'}

In [23]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase3"]
mycol = mydb["customers"]

myresult = mycol.find().skip(2).limit(5)

#print the result:
for x in myresult:
  print(x)

{'_id': ObjectId('64894ce8b8623247d4d60dac'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('64894ce8b8623247d4d60dad'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64894ce8b8623247d4d60dae'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64894ce8b8623247d4d60daf'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('64894ce8b8623247d4d60db0'), 'name': 'Susan', 'address': 'One way 98'}