# Database connection with python
Python Database API supports a wide range of database servers such as −

    MySQL
    PostgreSQL
    Microsoft SQL Server 2000
    Oracle
    SQLite
    MongoDB
You must download a separate DB API module for each database you need to access. 

For example, if you need to access an Oracle database as well as a MySQL database, you must download both the Oracle and the MySQL database modules.

The DB API provides a minimal standard for working with databases using Python structures and syntax wherever possible. 

This API includes the following −

    Importing the API module.
    Acquiring a connection with the database.
    Issuing SQL statements
    Closing the connection

## SQLite
SQLite is a C library that provides a lightweight disk-based or memory based database that doesn’t require a separate server process and allows accessing the database using SQL query language. 

Some applications can use SQLite for internal data storage. 

To use the module, you must first create a Connection object that represents the database.

Once you have a Connection, you can create a Cursor object and call its execute() method to perform SQL commands:

In [1]:
import sqlite3

conn  =sqlite3.connect('vedant.db')

print ("Opened database successfully")

Opened database successfully

In [2]:
import sqlite3

conn = sqlite3.connect('vedant.db')
print ("Opened database successfully");

conn.execute('''CREATE TABLE COMPANY2
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')
print ("Table created successfully");

conn.close()

Opened database successfully
Table created successfully

In [3]:
import sqlite3

conn = sqlite3.connect('vedant.db')
print ("Opened database successfully");

conn.execute("INSERT INTO COMPANY2 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )");

conn.execute("INSERT INTO COMPANY2 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )");

conn.execute("INSERT INTO COMPANY2 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )");

conn.execute("INSERT INTO COMPANY2 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )");

conn.commit()
print ("Records created successfully");
conn.close()

Opened database successfully
Records created successfully

In [4]:
import sqlite3

conn = sqlite3.connect('vedant.db')
print ("Opened database successfully");

cursor = conn.execute("SELECT * from COMPANY2")
#print(cursor.rowcount)-- it will give -1 for sqllight
for row in cursor:
   print ("ID = ", row[0])
   print ("NAME = ", row[1])
   print ("AGE = ", row[2])
   print ("ADDRESS = ", row[3])
   print ("SALARY = ", row[4], "\n")
    

print ("Operation done successfully");
conn.close()

Opened database successfully
ID =  1
NAME =  Paul
AGE =  32
ADDRESS =  California
SALARY =  20000.0

ID =  2
NAME =  Allen
AGE =  25
ADDRESS =  Texas
SALARY =  15000.0

ID =  3
NAME =  Teddy
AGE =  23
ADDRESS =  Norway
SALARY =  20000.0

ID =  4
NAME =  Mark
AGE =  25
ADDRESS =  Rich-Mond
SALARY =  65000.0

Operation done successfully

In [5]:
import sqlite3

conn = sqlite3.connect('vedant.db')
print ("Opened database successfully");

cursor = conn.execute("SELECT * from COMPANY2")
print(cursor.fetchall())
print ("Operation done successfully");
conn.close()

Opened database successfully
[(1, 'Paul', 32, 'California', 20000.0), (2, 'Allen', 25, 'Texas', 15000.0), (3, 'Teddy', 23, 'Norway', 20000.0), (4, 'Mark', 25, 'Rich-Mond ', 65000.0)]
Operation done successfully

In [6]:
import sqlite3

conn = sqlite3.connect('vedant.db')
print ("Opened database successfully");

cursor = conn.execute("SELECT * from COMPANY2")
for row in cursor:
    print(row)
print ("Operation done successfully");
conn.close()

Opened database successfully
(1, 'Paul', 32, 'California', 20000.0)
(2, 'Allen', 25, 'Texas', 15000.0)
(3, 'Teddy', 23, 'Norway', 20000.0)
(4, 'Mark', 25, 'Rich-Mond ', 65000.0)
Operation done successfully

In [7]:
import sqlite3

conn = sqlite3.connect('vedant.db')
print ("Opened database successfully");

cursor = conn.execute("SELECT * from COMPANY2")
row=cursor.fetchone()
while row:
    print(row)
    row=cursor.fetchone()
print ("Operation done successfully");
conn.close()

Opened database successfully
(1, 'Paul', 32, 'California', 20000.0)
(2, 'Allen', 25, 'Texas', 15000.0)
(3, 'Teddy', 23, 'Norway', 20000.0)
(4, 'Mark', 25, 'Rich-Mond ', 65000.0)
Operation done successfully

In [10]:
import sqlite3

conn = sqlite3.connect('vedant.db')
print ("Opened database successfully");

cursor = conn.execute("SELECT * from COMPANY2 order by salary desc")
#print(cursor.fetchall())
print(cursor.fetchmany(3))
print ("Operation done successfully");
conn.close()

Opened database successfully
[(4, 'Mark', 25, 'Rich-Mond ', 65000.0), (1, 'Paul', 32, 'California', 20000.0), (3, 'Teddy', 23, 'Norway', 20000.0)]
Operation done successfully

In [11]:
import sqlite3

conn = sqlite3.connect('vedant.db')
print ("Opened database successfully");

cursor = conn.execute("update company2 set salary=25000 where id=1")
#print(cursor.fetchall())
conn.commit()
print ("Operation done successfully",cursor.rowcount,' record is updated');

cursor=conn.execute("SELECT * from COMPANY2 where id=1")
print(cursor.fetchall())

conn.close()

Opened database successfully
Operation done successfully 1  record is updated
[(1, 'Paul', 32, 'California', 25000.0)]

In [12]:
import sqlite3

conn = sqlite3.connect('vedant.db')
print ("Opened database successfully");

cursor = conn.execute("delete from company2 where id=1")
#print(cursor.fetchall())
conn.commit()
print ("Operation done successfully",cursor.rowcount,' record is deleted');

cursor=conn.execute("SELECT * from COMPANY2")
print(cursor.fetchall())

conn.close()

Opened database successfully
Operation done successfully 1  record is deleted
[(2, 'Allen', 25, 'Texas', 15000.0), (3, 'Teddy', 23, 'Norway', 20000.0), (4, 'Mark', 25, 'Rich-Mond ', 65000.0)]

In [13]:
# Larger example that inserts many records at a time
conn = sqlite3.connect('vedant.db')
c = conn.cursor()
# Create table
c.execute('''CREATE TABLE stocks6
             (date text, trans text, symbol text, qty real, price real)''')
purchases = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
             ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
             ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
            ]
c.executemany('INSERT INTO stocks6 VALUES (?,?,?,?,?)', purchases)
conn.commit()
c.execute('SELECT * FROM stocks6 order by price')
for rec in c.fetchall():
    print(rec)
    
for row in c.execute('SELECT * FROM stocks6 ORDER BY price'):
        print(row)

('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0)
('2006-04-06', 'SELL', 'IBM', 500.0, 53.0)
('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)
('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0)
('2006-04-06', 'SELL', 'IBM', 500.0, 53.0)
('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)