In [1]:
#To find the factorial of a given number
fact=1
no=int(input("Enter any no"))
for i in range(1,no+1):
    fact=fact*i
print("The factorial is ",fact)

Enter any no5
The factorial is  120

In [2]:
#To find the factorial of a given number
fact=1
no=int(input("Enter any no"))
for i in range(no,0,-1):
    fact=fact*i
print("The factorial is ",fact)

Enter any no5
The factorial is  120

In [4]:
#to print no between any start number and any end number that is divisible 
#5 and 7 and also store these all numbers into the list
lst=[]
stno=int(input("Enter start number"))
endno=int(input("Enter end number"))
for no in range(stno,endno+1):
    if no%5==0 and no%7==0:
        #print(no,end=",");
        lst.append(no)
print("\n",lst)

Enter start number1000
Enter end number2000

 [1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

In [5]:
#to print the fibbonacci series
#0 1 1 2 3 5 8 13 21 34
i=-1
j=1
lst=[]
no=int(input("Enter no of terms"));
for m in range(1,no+1):
    k=i+j
    #print(k,end=",")
    lst.append(k)
    i=j
    j=k
print(lst)

Enter no of terms15
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [6]:
#to print the mutiplication table of  a given no
no=int(input("Enter any no"));
for i in range(1,11):
    print(no," * ",i," = ",no*i)

Enter any no1234
1234  *  1  =  1234
1234  *  2  =  2468
1234  *  3  =  3702
1234  *  4  =  4936
1234  *  5  =  6170
1234  *  6  =  7404
1234  *  7  =  8638
1234  *  8  =  9872
1234  *  9  =  11106
1234  *  10  =  12340

In [7]:
#use of break statement to terminate the loop
for letter in 'Python':     
   if letter == 'h':
      break
   print ('Current Letter :', letter)
  
var = 10                    
while var > 0:              
   print ('Current variable value :', var)
   var = var -1
   if var == 5:
      break

print ("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
Current variable value : 10
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Good bye!

In [8]:
#Use of continue statement to continue the loop for next iteration
for letter in 'Pythonhrehuy':     
   if letter == 'h':
      continue
   print ('Current Letter :', letter)

var = 10                    
while var > 0:              
   var = var -1
   if var == 5:
      continue
   print ('Current variable value :', var)
print ("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : o
Current Letter : n
Current Letter : r
Current Letter : e
Current Letter : u
Current Letter : y
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Current variable value : 4
Current variable value : 3
Current variable value : 2
Current variable value : 1
Current variable value : 0
Good bye!

In [9]:
for i in range(1,6):
   for j in range(1,6):
      print('*',end="")
   print()

*****
*****
*****
*****
*****

In [10]:
for i in range(1,6):
   for j in range(1,i+1):
      print('*',end="")
   print()

*
**
***
****
*****

In [11]:
for i in range(1,6):
   for j in range(1,i+1):
      print(j,end="")
   print()

1
12
123
1234
12345

In [12]:
for i in range(1,6):
   for j in range(1,i+1):
      print(i,end="")
   print()

1
22
333
4444
55555

In [13]:
k=1
for i in range(1,6):
   for j in range(1,i+1):
        print(k,end=" ")
        k=k+1
   print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [14]:

for i in range(1,6):
    for j in range(5,i-1,-1):
        print(j,end="")
    print()

54321
5432
543
54
5

In [1]:
for i in range(1,6,1):
    for k in range(1,i,1):
        print(' ',end="")
    for j in range(5,i-1,-1):
        print(j,end='')
    print()

54321
 5432
  543
   54
    5

In [2]:
for i in range(5,0,-1):
    for k in range(i,5,1):
        print(' ',end="")
    for j in range(1,i+1,1):
        print(j,end="")
    print()

12345
 1234
  123
   12
    1

In [3]:
for i in range(1,6,1):
    for k in range(1,i,1):
        print(' ',end="")
    for j in range(i,6,1):
        print(j,end="")
    print()

12345
 2345
  345
   45
    5

In [4]:
for i in range(5,0,-1):
    for k in range(i,5,1):
        print(' ',end="")
    for j in range(i,0,-1):
        print(j,end="")
    print()

54321
 4321
  321
   21
    1

In [6]:
#use of pass statement for empty loop(empty loop to provide time delay)
for i in range(1,10): 
   pass
print ("Good bye!")
print(i)


for letter in 'Python': 
   pass
print ("Good bye!")
print(letter)

Good bye!
9
Good bye!
n

In [7]:
k=0
for i in range(5,0,-1):
    print(" " * k, end="")
    k=k+1
    for j in range(1,i+1):
        print(j,end="")
    print()

12345
 1234
  123
   12
    1

# Mathematical Functions

In [2]:
#Use of matemetical function
#import math as m
import math
# This will import math module
print ("abs(-45) : ", abs(-45))
print ("abs(100.12) : ", abs(+100.12))
print ("abs(119L) : ", abs(119))



print ("math.ceil(-45.99) : ", math.ceil(-45.99))
print ("math.ceil(100.12) : ", math.ceil(100.12))
print ("math.ceil(100.72) : ", math.ceil(100.72))
print ("math.ceil(119L) : ", math.ceil(119))
print ("math.ceil(math.pi) : ", math.ceil(math.pi))



print ("math.exp(-45.57) : ", math.exp(-45.17))
print ("math.exp(100.12) : ", math.exp(100.12))
print ("math.exp(100.72) : ", math.exp(100.72))
print ("math.exp(119L) : ", math.exp(119))
print ("math.exp(math.pi) : ", math.exp(math.pi))



print ("math.floor(-45.17) : ", math.floor(-45.14))
print ("math.floor(100.12) : ", math.floor(100.12))
print ("math.floor(100.72) : ", math.floor(100.72))
print ("math.floor(119L) : ", math.floor(119))
print ("math.floor(math.pi) : ", math.floor(math.pi))

print ("max(80, 100, 1000) : ", max(80, 100, 1000,89,34.56))
print ("max(-20, 100, 400) : ", max(-20, 100, 400,74))
print ("max(-80, -20, -10) : ", max(-80, -20, -10,456))
print ("max(0, 100, -400) : ", max(0, 100, -400,86))
print ("max(0, 100, -400) : ", max("zay","Amrish","zarana"))

print ("min(80, 100, 1000) : ", min(80, 100, 1000,89,34.56))
print ("min(-20, 100, 400) : ", min(-20, 100, 400,74))
print ("min(-80, -20, -10) : ", min(-80, -20, -10,456))
print ("min(0, 100, -400) : ", min(0, 100, -400,86))
print ("min(0, 100, -400) : ", min("zay","Amrish","zarana"))

print ("math.pow(100, 2) : ", math.pow(100, 2))
print ("math.pow(100, -2) : ", math.pow(100, -2))
print ("math.pow(2, 4) : ", math.pow(2, 4))
print ("math.pow(3, 0) : ", math.pow(3, 0))

print ("math.sqrt(100) : ", math.sqrt(100))
print ("math.sqrt(7) : ", math.sqrt(7))
print ("math.sqrt(math.pi) : ", math.sqrt(math.pi))

abs(-45) :  45
abs(100.12) :  100.12
abs(119L) :  119
math.ceil(-45.99) :  -45
math.ceil(100.12) :  101
math.ceil(100.72) :  101
math.ceil(119L) :  119
math.ceil(math.pi) :  4
math.exp(-45.57) :  2.4150062132629406e-20
math.exp(100.12) :  3.0308436140742566e+43
math.exp(100.72) :  5.522557130248187e+43
math.exp(119L) :  4.797813327299302e+51
math.exp(math.pi) :  23.140692632779267
math.floor(-45.17) :  -46
math.floor(100.12) :  100
math.floor(100.72) :  100
math.floor(119L) :  119
math.floor(math.pi) :  3
max(80, 100, 1000) :  1000
max(-20, 100, 400) :  400
max(-80, -20, -10) :  456
max(0, 100, -400) :  100
max(0, 100, -400) :  zay
min(80, 100, 1000) :  34.56
min(-20, 100, 400) :  -20
min(-80, -20, -10) :  -80
min(0, 100, -400) :  -400
min(0, 100, -400) :  Amrish
math.pow(100, 2) :  10000.0
math.pow(100, -2) :  0.0001
math.pow(2, 4) :  16.0
math.pow(3, 0) :  1.0
math.sqrt(100) :  10.0
math.sqrt(7) :  2.6457513110645907
math.sqrt(math.pi) :  1.7724538509055159

# Random Number Functions

### Random numbers are used for games, simulations, testing, security, and privacy applications.

#### choice(seq)
    A random item from a list, tuple, or string.

#### randrange ([start,] stop [,step])
    A randomly selected element from range(start, stop, step)

#### random()
    A random float r, such that 0 is less than or equal to r and r is less than 1

#### seed([x])
    Sets the integer starting value used in generating random numbers. Call this function before calling any other random module function. Returns None.

#### shuffle(lst)
    Randomizes the items of a list in place. Returns None.

#### uniform(x, y)
    A random float r, such that x is less than or equal to r and r is less than y

In [10]:
#use of random number functions
import random as r

print ("choice([1, 2, 3, 5, 9]) : ", r.choice([1, 2, 3, 5, 9]))
print ("choice('A String') : ", r.choice('A String'))



# default it will start from 0 and it will generate maximum no less then end 
#value
#if step is given then it will skip that number to generate random number

print ("randrange(10,15) : ", r.randrange(10,15))
print ("randrange(10) : ", r.randrange(10))
print ("randrange(10, 20, 5) : ", r.randrange(10, 20,5))
print ("randrange(10, 20, 3) : ", r.randrange(10, 20,3))
print ("randrange(10, 20, 4) : ", r.randrange(10, 30,4))

# First random number
print ("random() : ", r.random())#min=0 and max=1

# Second random number
print ("random() : ", r.random())
print ("random() : ", r.random()*1000)


r.seed(1)
print ("Random number with seed 10 : ", r.random())


# It will generate same random number
r.seed(1)
print ("Random number with seed 10 : ", r.random())

# It will generate same random number
r.seed(1)
print ("Random number with seed 10 : ", r.random())

'''str="Jaysukh Patel"
r.shuffle(str)
print(str)'''

list = [20, 16, 10, 5,45,67,89,12,34,56,788,543,3,567,3,677,2345]
r.shuffle(list)
print ("Reshuffled list : ",  list)

r.shuffle(list)
print ("Reshuffled list : ",  list)

#to generate floating point random number between the range
print ("Random Float uniform(5, 10) : ",  r.uniform(5, 10))
print ("Random Float uniform(7, 14) : ",  r.uniform(7, 14))


print('random integer ',r.randint(1,10))
print('random integer ',r.randint(1,1000))

choice([1, 2, 3, 5, 9]) :  1
choice('A String') :  r
randrange(10,15) :  10
randrange(10) :  7
randrange(10, 20, 5) :  15
randrange(10, 20, 3) :  19
randrange(10, 20, 4) :  22
random() :  0.7887233511355132
random() :  0.0938595867742349
random() :  28.34747652200631
Random number with seed 10 :  0.13436424411240122
Random number with seed 10 :  0.13436424411240122
Random number with seed 10 :  0.13436424411240122
Reshuffled list :  [788, 67, 2345, 45, 56, 20, 677, 3, 5, 89, 543, 567, 3, 12, 16, 34, 10]
Reshuffled list :  [2345, 12, 543, 677, 56, 10, 3, 34, 788, 20, 67, 89, 45, 3, 567, 5, 16]
Random Float uniform(5, 10) :  9.845203251470497
Random Float uniform(7, 14) :  12.080968210125606
random integer  9
random integer  228

# Escape Characters

escape or non-printable characters that can be represented with backslash notation.    

new line character \n
    
tab character \t

# String Special Operators

#### r/R
    Raw String - Suppresses actual meaning of Escape characters. The syntax for raw strings is exactly the same as for normal strings with the exception of the raw string operator, the letter "r," which precedes the quotation marks. The "r" can be lowercase (r) or uppercase (R) and must be placed immediately preceding the first quote mark.
    print r'\n' prints \n and print R'\n'prints \n

#### %
    Format - Performs String formatting

# String Formatting Operator

In [15]:
print("Myname is {} and weight is {} kg!".format('jaysukh patel',68))

Myname is jaysukh patel and weight is 68 kg!

In [23]:
print ("My name is %s and weight is %d kg!" % ('Jaysukh Patel',68))

My name is Jaysukh Patel and weight is 68 kg!

In [ ]:
    %s
    string conversion via str() prior to formatting

    %i
    signed decimal integer

    %d
    signed decimal integer

    %f
    floating point real number

In [27]:
print ("\\")            #Prints Backslash
print ("\'")            #Prints single-quote
print("\"")             #Pirnts double quote
print("hello\nworld")   #ASCII linefeed ( LF )
print("\t\t\t* hello")  #ASCII horizontal tab (TAB). Prints TAB
print (r'hello\nworld')
print (R'hello\nworld')
print (r'hello\tworld')
print (R'hello\tworld')

# using triple quotes
print('''He said, "What's there?"''')

# using triple quotes
print("""He said, \"What's there?\"""")

# escaping single quotes
print('He said, "What\'s there?"')

# escaping double quotes
print("He said, \"What's there?\"")



x = 12.34567896546757
print('The value of x is %13.2f' %x)
print('The value of x is %13.4f' %x)
print('%13.2f' %x)
print('%30.4f' %x)
print("%10d"% (42))
print("%-10d"% (42))
s = "Price: $ %18.2f"% (356.08977)
print(s)

para_str ="""this is a long string that is made up of
several lines and non-printable characters such as
TAB ( \t ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [ \n ], or just a NEWLINE within
the variable assignment will also show up.
"""
print (para_str)

print ('C:\\nowhere')
print (r'C:\\nowhere')

\
'
"
hello
world
			* hello
hello\nworld
hello\nworld
hello\tworld
hello\tworld
He said, "What's there?"
He said, "What's there?"
He said, "What's there?"
He said, "What's there?"
The value of x is         12.35
The value of x is       12.3457
        12.35
                       12.3457
        42
42
Price: $             356.09
this is a long string that is made up of
several lines and non-printable characters such as
TAB ( \t ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [ \n ], or just a NEWLINE within
the variable assignment will also show up.

C:\nowhere
C:\\nowhere

In [14]:
print("Rollno   StudentName        StuAddress      Phonenumber")
print("%-8d %-18s %-15s %-11s"%(12888,'jaysukh patel','naranpura','353544345'))
print("%-8d %-18s %-15s %-11s"%(123,'kiran','isanpur','353545'))
print("%-8d %-18s %-15s %-11s"%(1256,'chirag','Bapunagar','353345'))
print("%-8d %-18s %-15s %-11s"%(128,'dhiren','Satelite','3535445'))

Rollno   StudentName        StuAddress      Phonenumber
12888    jaysukh patel      naranpura       353544345
123      kiran              isanpur         353545
1256     chirag             Bapunagar       353345
128      dhiren             Satelite        3535445