# Built-in String Methods

In [3]:
str1 = "this is string example....wow!!!"
print ("str.capitalize() : ", str1.capitalize())
print(str1)
print ("str.center(50, 'a') : ", str1.center(62,'$'))
print(str1)

str.capitalize() :  This is string example....wow!!!
this is string example....wow!!!
str.center(50, 'a') :  $$$$$$$$$$$$$$$this is string example....wow!!!$$$$$$$$$$$$$$$
this is string example....wow!!!

In [6]:
sub = "i"
print ("str.count(sub, 4, 40) : ", str1.count(sub,0,15))#0start index 6 end index

sub = "wow"
print ("str.count(sub) : ", str1.count(sub))

str.count(sub, 4, 40) :  3
str.count(sub) :  1

In [7]:
suffix = "wow!!!";
print (str1.endswith(suffix))
print (str1.endswith(suffix,15))
print (str1.endswith(suffix,15,25))

suffix = "is";
print (str1.endswith(suffix, 2, 4))
print (str1.endswith(suffix, 2, 7))

True
True
False
True
True

In [8]:
str1

'this is string example....wow!!!'

In [10]:
str2 = "exam";

print (str1.find(str2))
print (str1.find(str2, 10))
print (str1.find(str2, 16))

str2 = "exam";

print (str1.index(str2))
print (str1.index(str2, 10))
#print (str1.index(str2, 16))

15
15
-1
15
15

In [11]:
str1 = "this2009";  # No space in this string
print (str1.isalnum())

str1 = "this is string example....wow!!!";
print (str1.isalnum())

True
False

In [12]:

str1 = "123456";  # Only digit in this string
print (str1.isdigit())

str1 = "this is string example....wow!!!";
print (str1.isdigit())

True
False

In [13]:
str1 = "THIS is string example....wow!!!"; 
print (str1.islower())

str1 = "this is string example....wow!!!";
print (str1.islower())

False
True

In [14]:
str1 = "this2009";  
print (str1.isnumeric())

str1 = "23443434";
print (str1.isnumeric())

False
True

In [15]:
str1 = "       "; 
print (str1.isspace())

str1 = "This is string example....wow!!!";
print (str1.isspace())

True
False

In [16]:
str1 = "This Is String Example...Wow!!!";
print (str1.istitle())

str1 = "This is string example....wow!!!";
print (str1.istitle())

True
False

In [17]:
str1 = "THIS IS STRING EXAMPLE....WOW!!!"; 
print (str1.isupper())

str1 = "THIS is string example....wow!!!";
print (str1.isupper())

True
False

In [24]:
s = "-";
seq = ("a", "b", "c") # This is sequence of strings.
print (s.join( seq ))

a-b-c

In [20]:
s = ",";
seq = (10, 20, 30) # This is sequence of strings.
print (s.join( seq ))

TypeError: sequence item 0: expected str instance, int found

In [21]:
s = "_";
seq = ['a', 'b', 'c'] # This is sequence of strings.
print (s.join( seq ))

a_b_c

In [22]:
str1 = "this is string example....wow!!!";
print ("Length of the string: ", len(str1))

Length of the string:  32

In [25]:
str1 = "this is string example....wow!!!";
print (str1.ljust(42,'$'))

this is string example....wow!!!$$$$$$$$$$

In [26]:
str1 = "this is string example....wow!!!";
print (str1.rjust(42, '$'))

$$$$$$$$$$this is string example....wow!!!

In [27]:
str1 = "THIS IS STRING EXAMPLE....WOW!!!";
print (str1.lower())

this is string example....wow!!!

In [28]:
str1 = "this is string example....wow!!!";
print ("str.capitalize() : ", str1.upper())

str.capitalize() :  THIS IS STRING EXAMPLE....WOW!!!

In [29]:
str1 = "     this is string example....wow!!!     ";
print (str1.lstrip())
str1 = "88888888this is string example....wow!!!8888888";
print (str1.lstrip('8'))

this is string example....wow!!!
this is string example....wow!!!8888888

In [30]:
str1 = "     this is string example....wow!!!     ";
print (str1.rstrip())
str1 = "88888888this is string example....wow!!!8888888";
print (str1.rstrip('8'))

     this is string example....wow!!!
88888888this is string example....wow!!!

In [31]:
str1 = "0000000this is string example....wow!!!0000000";
print (str1.strip( '0' ))

this is string example....wow!!!

In [37]:
str1 = "this is really a string example....wow!!!";
print ("Max character: " + max(str1))

Max character: y

In [32]:
str1 = "this is a string example....wow!!!";
print ("Max character: " + max(str1))

Max character: x

In [33]:
str1 = "this-is-real-string-example....wow!!!";
print ("Min character: " + min(str1))

str1 = "this-is-a-string-example....wow!!!";
print ("Min character: " + min(str1))

Min character: !
Min character: !

In [34]:
str1 = "this is string example....wow!!! this is really string"
print (str1.replace("is", "was"))
print (str1.replace("is", "was", 2))

thwas was string example....wow!!! thwas was really string
thwas was string example....wow!!! this is really string

In [35]:
str1 = "this is string example....wow!!! this is really string"
print (str1.replace(" is ", " was "))
print (str1.replace(" is ", " was ", 2))

this was string example....wow!!! this was really string
this was string example....wow!!! this was really string

In [36]:
str1 = "this is really a string example....wow!!!";
str2 = "is";

print (str1.rfind(str2))
print (str1.rfind(str2, 0, 10))
print (str1.rfind(str2, 10, 20))

print (str1.find(str2))
print (str1.find(str2, 0, 10))
print (str1.find(str2, 10, 20))

5
5
-1
2
2
-1

In [37]:
str1 = "this is string example....wow!!!";
str2 = "is";

print (str1.rindex(str2))
print (str1.index(str2))

5
2

In [41]:
str1 = "Line1-abcdef \nLine2-abc \nLine4-abcd jay kiran";
print (str1.split( ))
print (str1.split(' ',2))

['Line1-abcdef', 'Line2-abc', 'Line4-abcd', 'jay', 'kiran']
['Line1-abcdef', '\nLine2-abc', '\nLine4-abcd jay kiran']

In [47]:
str1 = "Line1-a b c d e f\nLine2- a b c\nLine4- a b c d";
print (str1.splitlines( ))
print (str1.splitlines( 0 ))#you can pass any no positve or negative that is true
print (str1.splitlines( 1 ))#if true then include the lineseperator
#and 0 that is false---it does not include the line seperator
print (str1.splitlines( -2 ))
print (str1.splitlines( -3 ))

['Line1-a b c d e f', 'Line2- a b c', 'Line4- a b c d']
['Line1-a b c d e f', 'Line2- a b c', 'Line4- a b c d']
['Line1-a b c d e f\n', 'Line2- a b c\n', 'Line4- a b c d']
['Line1-a b c d e f\n', 'Line2- a b c\n', 'Line4- a b c d']
['Line1-a b c d e f\n', 'Line2- a b c\n', 'Line4- a b c d']

In [42]:
str1 = "this is string example....wow!!!";
print (str1.startswith( 'this' ))
print (str1.startswith( 'is', 2, 4 ))
print (str1.startswith( 'this', 2, 4 ))

True
True
False

In [43]:
str1 = "This Is String Example....Wow!!!";
print (str1.swapcase())

str1= "THIS IS STRING EXAMPLE....WOW!!!";
print (str1.swapcase())

tHIS iS sTRING eXAMPLE....wOW!!!
this is string example....wow!!!

In [45]:
str1 = "this is string example....wow!!!";
print (str1.zfill(40))
print (str1.zfill(50))

00000000this is string example....wow!!!
000000000000000000this is string example....wow!!!

In [46]:
str1 = "this2009";  
print (str1.isdecimal());


str1 = "23443434";
print (str1.isdecimal())

str1.lower()

False
True

# Lists Functions and Methods

In [47]:
list1, list2 = [123, 'xyz', 'zara'], [456, 'abc']
print ("First list length : ", len(list1))
print ("Second list length : ", len(list2))

First list length :  3
Second list length :  2

In [2]:
list1, list2 = ['xyz', 'zara', 'abc','5454'], [456, 700, 200]
print ("Max value element : ", max(list1))
print ("Max value element : ", max(list2))

Max value element :  zara
Max value element :  700

In [48]:
list1, list2 = ['xyz', 'zara', 'abc'], [456, 700, 200]
print ("min value element : ", min(list1))
print ("min value element : ", min(list2))

min value element :  abc
min value element :  200

In [49]:


aTuple = (123, 'xyz', 'zara', 'abc')
aList = list(aTuple)
print ("List elements : ", aList)

List elements :  [123, 'xyz', 'zara', 'abc']

In [50]:
l1=list("jaysukh Patel")
print(l1)

['j', 'a', 'y', 's', 'u', 'k', 'h', ' ', 'P', 'a', 't', 'e', 'l']

In [52]:
l1=list({"a","b",45,78.90,45})
print(l1)

['b', 45, 78.9, 'a']

In [7]:
lst1=[]#empty list
lst1=list()#empty list
d1={}#empty dictionary
d1=dict()#empty dictionary
s1=set()#empty set

In [53]:
aList = [123, 'xyz', 'zara', 'abc']
aList.append( 2009 );
print ("Updated List : ", aList)

Updated List :  [123, 'xyz', 'zara', 'abc', 2009]

In [55]:
aList = [123, 'xyz', 'zara', 'abc', 123,'123'];
print ("Count for 123 : ", aList.count(123))
print ("Count for zara : ", aList.count('zara'))

Count for 123 :  2
Count for zara :  1

In [56]:
aList = [123, 'xyz', 'zara', 'abc', 123]
bList = [2009, 'manni']
aList.extend(bList)
print ("Extended List : ", aList)

Extended List :  [123, 'xyz', 'zara', 'abc', 123, 2009, 'manni']

In [13]:
aList = [123, 'xyz', 'zara', 'abc', 123]
bList = [2009, 'manni']
aList.append(bList)

print ("Extended List : ", aList)

Extended List :  [123, 'xyz', 'zara', 'abc', 123, [2009, 'manni']]

In [57]:
aList = [123,'xyz','zara','abc'];
print ("Index for xyz : ", aList.index( 'xyz' )) 
print ("Index for zara : ", aList.index( 'zara' ))

Index for xyz :  1
Index for zara :  2

In [58]:
aList = [123, 'xyz', 'zara', 'abc']
aList.insert(2,2009)
print ("Final List : ", aList)

Final List :  [123, 'xyz', 2009, 'zara', 'abc']

In [59]:
aList = [123, 'xyz', 'zara', 'abc','jay']
print ("A List : ", aList.pop())
print ("Final List : ", aList)
print ("B List : ", aList.pop(0))
print ("Final List : ", aList)
print ("B List : ", aList.pop(0))
print ("Final List : ", aList)

A List :  jay
Final List :  [123, 'xyz', 'zara', 'abc']
B List :  123
Final List :  ['xyz', 'zara', 'abc']
B List :  xyz
Final List :  ['zara', 'abc']

In [60]:
aList = [123, 'xyz', 'zara', 'abc', 'xyz']
aList.remove('xyz')
print ("List : ", aList)
aList.remove('abc');
print ("List : ", aList)
aList = [123, 'xyz', 'zara', 'abc', 'xyz','xyz','pqr','xyz'];
while aList.count('xyz'):
    aList.remove('xyz')
print ("List : ", aList)

List :  [123, 'zara', 'abc', 'xyz']
List :  [123, 'zara', 'xyz']
List :  [123, 'zara', 'abc', 'pqr']

In [61]:
aList = [123, 'xyz', 'zara', 'abc', 'xyz']
aList.reverse();
print ("List : ", aList)

List :  ['xyz', 'abc', 'zara', 'xyz', 123]

In [62]:
aList = ['xyz', 'zara', 'abc', 'xyz','hiren']
aList.sort()
print ("List : ", aList)

List :  ['abc', 'hiren', 'xyz', 'xyz', 'zara']

In [63]:
aList = ['xyz', 'zara', 'abc', 'xyz','hiren']
aList.sort(reverse=True)
print ("List : ", aList)

List :  ['zara', 'xyz', 'xyz', 'hiren', 'abc']

# Tuple Functions

### Delete Tuple Elements

Removing individual tuple elements is not possible.    

To explicitly remove an entire tuple, just use the del statement.

In [66]:
tup = ('physics', 'chemistry', 1997, 2000)
print (tup)
del tup
print ("After deleting tup : ")
#print (tup)#error because yuo have deleted the tuple

('physics', 'chemistry', 1997, 2000)
After deleting tup :

In [67]:
tuple1, tuple2 = (123, 'xyz', 'zara'), (456, 'abc')
print ("First tuple length : ", len(tuple1))
print ("Second tuple length : ", len(tuple2))

First tuple length :  3
Second tuple length :  2

In [68]:
tuple1, tuple2 = ('xyz', 'zara', 'abc'), (456, 700, 200)
print ("Max value element : ", max(tuple1))
print ("Max value element : ", max(tuple2))

Max value element :  zara
Max value element :  700

In [69]:
tuple1, tuple2 = ('xyz', 'zara', 'abc'), (456, 700, 200)
print ("min value element : ", min(tuple1))
print ("min value element : ", min(tuple2))

min value element :  abc
min value element :  200

In [70]:
aList = [123, 'xyz', 'zara', 'abc']
aTuple = tuple(aList)
print ("Tuple elements : ", aTuple)

Tuple elements :  (123, 'xyz', 'zara', 'abc')

In [71]:
str ='Jaysukh Patel'
aTuple = tuple(str)
print ("Tuple elements : ", aTuple)

Tuple elements :  ('J', 'a', 'y', 's', 'u', 'k', 'h', ' ', 'P', 'a', 't', 'e', 'l')

In [29]:
s1={'J','a','y','s','u','k'}
aTuple = tuple(s1)
print ("Tuple elements : ", aTuple)

Tuple elements :  ('a', 'k', 'u', 'y', 'J', 's')

# Dictionary Functions

## Delete Dictionary Elements

You can either remove individual dictionary elements or clear the entire contents of a dictionary.     
    
You can also delete entire dictionary in a single operation.    

To explicitly remove an entire dictionary, just use the del statement.

In [72]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict['Name'] # remove entry with key 'Name'
print(dict)
dict.clear()     # remove all entries in dict
print(dict)
del dict        # delete entire dictionary

{'Age': 7, 'Class': 'First'}
{}

In [73]:
dict = {'Name': 'Zara', 'Age': 7, 'Name': 'Manni','Name':'mahi'}
print ("dict['Name']: ", dict['Name'])

dict['Name']:  mahi

In [76]:
#List as a key is not allowed in dictionary
dict = {['Name']: 'Zara', 'Age': 7}
print ("dict['Name']: ", dict['Name'])

TypeError: unhashable type: 'list'

In [77]:
dict = {'Name': 'Zara', 'Age': 7,"Grade":"pass"}
print ("Length : %d" % len (dict))

Length : 3

In [1]:
#It will give you error
# initialising dictionary
test1 = { "testname" : "akshat",
          "test2name" : "manjeet",
          "test3name" : "nikhil"}
  
# print original dictionary
print (type(test1))
print ("initial dictionary = ", test1)
  
# convert dictionary into string
# using str
result = str(test1)
  
# print resulting string
print ("\n", type(result))
print ("final string = ", result)

<class 'dict'>
initial dictionary =  {'testname': 'akshat', 'test2name': 'manjeet', 'test3name': 'nikhil'}

 <class 'str'>
final string =  {'testname': 'akshat', 'test2name': 'manjeet', 'test3name': 'nikhil'}

In [3]:
d1={'name':'jay',"age":45}
print("the string is %s" %str(d1))

the string is {'name': 'jay', 'age': 45}

In [2]:
import json
  
# initialising dictionary
test1 = { "testname" : "akshat",
          "test2name" : "manjeet",
          "test3name" : "nikhil"}
  
# print original dictionary
print (type(test1))
print ("initial dictionary = ", test1)
  
# convert dictionary into string
# using json.dumps()
result = json.dumps(test1)
  
# printing result as string
print ("\n", type(result))
print ("final string = ", result)

<class 'dict'>
initial dictionary =  {'testname': 'akshat', 'test2name': 'manjeet', 'test3name': 'nikhil'}

 <class 'str'>
final string =  {"testname": "akshat", "test2name": "manjeet", "test3name": "nikhil"}

In [4]:
dict = {'Name': 'Zara', 'Age': 7};
print ("Variable Type : %s" %  type (dict))

Variable Type : <class 'dict'>

In [5]:
dict = {'Name': 'Zara', 'Age': 7};
print ("Start Len : %d" %  len(dict))
dict.clear()
print ("End Len : %d" %  len(dict))

Start Len : 2
End Len : 0

In [6]:
#shallow copy
dict1 = {'Name': 'Zara', 'Age': 7}
dict2 = dict1
dict1['status']="pass"
dict2['married']='Yes'
print ("New Dictionary ",  dict2,dict1)

New Dictionary  {'Name': 'Zara', 'Age': 7, 'status': 'pass', 'married': 'Yes'} {'Name': 'Zara', 'Age': 7, 'status': 'pass', 'married': 'Yes'}

In [15]:
#deep copy
dict1 = {'Name': 'Zara', 'Age': 7}
dict2 = dict1.copy()
dict1['status']="pass"
dict2['married']='Yes'
print ("New Dictionary ",  dict1,dict2)

New Dictionary  {'Name': 'Zara', 'Age': 7, 'status': 'pass'} {'Name': 'Zara', 'Age': 7, 'married': 'Yes'}

In [6]:
seq = ('name', 'age', 'sex')
dict = dict.fromkeys(seq)
print ("New Dictionary :",dict)

New Dictionary : {'name': None, 'age': None, 'sex': None}

In [7]:
dict = dict.fromkeys(seq, 10)
print ("New Dictionary : ",dict)
dict['name']="jay"
dict['sex']='Male'
dict

New Dictionary :  {'name': 10, 'age': 10, 'sex': 10}

{'name': 'jay', 'age': 10, 'sex': 'Male'}

In [8]:
dict = {'Name': 'Zabra', 'Age': 7}
print ("Value : %s" %  dict.get('Age'))
print ("Value : %s" %  dict.get('Education', "Education key is not present"))
print ("Value : %s" %  dict.get('Education'))

Value : 7
Value : Education key is not present
Value : None

In [9]:
dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" %  dict.items())

Value : dict_items([('Name', 'Zara'), ('Age', 7)])

In [10]:
dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" %  dict.keys())

Value : dict_keys(['Name', 'Age'])

In [11]:
dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" %  dict.values())

Value : dict_values(['Zara', 7])

In [13]:
dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" %  dict.setdefault('Age', None))
print ("Value : %s" %  dict.setdefault('Sex', None))

Value : 7
Value : None

In [12]:
dict = {'Name': 'Zara', 'Age': 7}
dict2 = {'Sex': 'female',"married":'yes' }

dict.update(dict2)

print ("Value : %s" %  dict)

Value : {'Name': 'Zara', 'Age': 7, 'Sex': 'female', 'married': 'yes'}

In [13]:
dict["Status"]="pass"
print ("Value : %s" %  dict)

Value : {'Name': 'Zara', 'Age': 7, 'Sex': 'female', 'married': 'yes', 'Status': 'pass'}

In [14]:
dict["Married"]="Yes"
print ("Value : %s" %  dict)

Value : {'Name': 'Zara', 'Age': 7, 'Sex': 'female', 'married': 'yes', 'Status': 'pass', 'Married': 'Yes'}

In [15]:
print(dict)
print(dict.pop('Name'))
print(dict)
print(dict.popitem())#last key value pair
print(dict)

{'Name': 'Zara', 'Age': 7, 'Sex': 'female', 'married': 'yes', 'Status': 'pass', 'Married': 'Yes'}
Zara
{'Age': 7, 'Sex': 'female', 'married': 'yes', 'Status': 'pass', 'Married': 'Yes'}
('Married', 'Yes')
{'Age': 7, 'Sex': 'female', 'married': 'yes', 'Status': 'pass'}

# Set

In [1]:
s1={12,45,"jay",'kiran',56.78}
s1.remove("jay")
print(s1)

{'kiran', 56.78, 12, 45}

In [2]:
s1.add(46)
print(s1)

{'kiran', 56.78, 12, 45, 46}

In [3]:
s1.add(47)
print(s1)

{'kiran', 56.78, 12, 45, 46, 47}

In [4]:
s1.pop()#it will remove random element from set
print(s1)

{56.78, 12, 45, 46, 47}

In [5]:
s2={"jay",56.78,45,"kiran"}
s1.update(s2)
print(s1)

{'kiran', 12, 45, 46, 47, 'jay', 56.78}

In [6]:
s1.union(s2)#all the lements from both set excuding duplicates
print(s1)

{'kiran', 12, 45, 46, 47, 'jay', 56.78}

In [7]:
s3=s1.intersection(s2)
print(s3)

{56.78, 'kiran', 'jay', 45}