# Python

Python was developed by Guido van Rossum in the late eighties and early nineties at the National Research Institute for Mathematics and Computer Science in the Netherlands.

Python is a general-purpose interpreted, interactive, object-oriented, and high-level programming language. 

##### Interpreted 
It is processed at runtime by the interpreter. You do not need to compile your program before executing or run  it. This is similar to PERL and PHP.
    
##### Interactive 
By using a Python prompt you can interact with the interpreter directly to write your programs.

##### Python is Object-Oriented
Just like c++,Java and C# It is also an object oriented lang so It implements oops concepts.

# Basic Fetures Of Python

##### 1. Easy-(to learn,to read and to mantain)
few keywords, simple structure, and clearly defined syntax visible to the eyes and easy-to-maintain.
##### 2. A Rich Set of standard library
Rich Set of the library is very portable and cross-platform compatible on UNIX, Windows, and Macintosh.
##### 3. Interactive Mode
interactive mode which allows interactive testing and debugging.
##### 4. Portable
It can run on a wide variety of hardware platforms with the same interface on all platforms.
##### 5. Databases
It provides interfaces to all major commercial databases.
##### 6. GUI Programming
Python supports GUI applications that can be created and ported to many system calls, libraries and windows systems.

# Advance Fetures Of Python

1.  It supports functional and structured programming methods as well as OOPS.    
2.  It provides very high-level dynamic data types and supports dynamic type checking.    
3.  It supports automatic garbage collection.

# Python Applications Area

Python is known for its general purpose nature that makes it applicable in almost each domain of software development.

1. Web Applications    
2. Desktop GUI Applications    
3. Software Development    
4. Scientific and Numeric    
5. Business Applications    
6. Console Based Application    
7. Audio or Video based Applications    
8. 3D CAD Applications    
9. Enterprise Applications    
10. Applications for Images

## Running Python

### Interactive Interpreter

In [ ]:
    C:> python    
    >>>print(“Hello”)

### Script from the Command-line

    C: >python script.py

# Integrated Development Environment

    1. Python IDLE----Basic and Advance Python
    2. Jupeter Notebook,spyder---Data Science and Data Analytics
    3. Pycharm-----Web Application Development
    4. Visual Studio Code--Web Application Development

# Python Identifiers

1. Identifier is a name used to identify a variable, function, class, module or other object.    
2. Name starts with a letter A to Z or a to z or an underscore (_) followed by zero or more letters, underscores and digits (0 to 9).    
3. It does not allow punctuation characters such as @, $, and % within identifiers.         
4. It is a case sensitive programming language.

## Multi-Line Statements

    total = maths + \
        sci  + \
        eng

    Statements contained within the [], {}, or () brackets do not need to use the line continuation character.

    days = ['Monday', 'Tuesday', 'Wednesday',
        'Thursday', 'Friday']

In [2]:
maths=56 
sci=78
eng=89
total=maths+\
sci+\
eng
print("Total is ",total)
days = [
  'Monday', "Tuesday", 'Wednesday',
    'Thursday', 'Friday','45','67','89',
    34,56,
       45,67,
       "jay","kiran"]
print("List = ",days)
print("Hello")
print('Hello')
print("""Hello""")
print('''Hello''')

Total is  223
List =  ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', '45', '67', '89', 34, 56, 45, 67, 'jay', 'kiran']
Hello
Hello
Hello
Hello

## Quotation in Python

    Python accepts single ('), double (") and triple (''' or """) quotes to denote string literals.

    The triple quotes are used to span the string across multiple lines.

## Comments in Python

    Single Line comment –    # comment
    Multiline comment   -   ' ' ' comment ' ' '
                            or
                            “ “ “ comment “ “ “

In [3]:
#use of single quote,double quote,tripple quote to store string values
#use of tripple quote for multiline comments

'''sdgngbdsgbjnsdgnsdgbdsg jsdbg dsgjbsdjgs
sdkg dskgndskjg ndksngjksd gnndskjgndskjngj'''

"""jgds sjkgnsd gnds gnds nkgnsdkjg skdjgnjd
kgidsgdsgnds gmdsnjgkdsmkgndksjngkjdsngjnsd
dgd skgdsgmdskgdm"""

word='Jaysukh Patel'
sentence="This is sentence"
para='''hsddskjnsdgbsdhg jdsbghds bgjsbdhgb sdjgbhjsdbghjsdhghd
idsgnjdsgkjdsngjdsnkgjsdhgnskdjgjdsgkdsbgdsbgdbshgbdsbgdsbh
sdigdnsgjnsdgndsjdjs'''
para2="""isdokjsdtjkwejewkjhewjtehte nebkjekj bewhtehn
ewitnewjtjetnewkjtjkewn ktjenjktnejktnjekntjewhtjewh
eutewntetetkekt"""
print("First variable = ",word)
print("Second variable = ",sentence)
print("Third variable = ",para)
print("Fouth variable = ",para2)
print('''sdhkjdshgsdndsjkh''')

First variable =  Jaysukh Patel
Second variable =  This is sentence
Third variable =  hsddskjnsdgbsdhg jdsbghds bgjsbdhgb sdjgbhjsdbghjsdhghd
idsgnjdsgkjdsngjdsnkgjsdhgnskdjgjdsgkdsbgdsbgdbshgbdsbgdsbh
sdigdnsgjnsdgndsjdjs
Fouth variable =  isdokjsdtjkwejewkjhewjtehte nebkjekj bewhtehn
ewitnewjtjetnewkjtjkewn ktjenjktnejktnjekntjewhtjewh
eutewntetetkekt
sdhkjdshgsdndsjkh

## variable

In [4]:
a=10
print(type(a))

<class 'int'>

In [5]:
counter=10
percentage=67.89
name="Jaysukh patel"
married=True
print(type(name))

<class 'str'>

In [6]:
print(type(percentage))

<class 'float'>

In [7]:
print(type(counter))

<class 'int'>

In [8]:
print(type(married))

<class 'bool'>

## Multiple Assignment

In [9]:
maths=sci=eng=67
print(maths)

67

In [10]:
sci

67

In [11]:
eng

67

In [12]:
a,b,c=10,20,"Kiran shah"
a

10

In [13]:
b

20

In [14]:
print(c)

Kiran shah

# Standard Data Types

    1. Numbers
    2. String
    3. List
    4. Tuple
    5. Dictionary

### Numbers

    a = 1
    b = 10

    You can also delete the reference to a number object by using the del statement. 

    del a
    del a, b

## Three different numerical types

    1. int (signed integers)
    2. float (floating point real values)
    3. complex (complex numbers)

In [15]:
a=10
print(type(a))

<class 'int'>

In [16]:
a=23.45
print(type(a))

<class 'float'>

In [17]:
a=3+4j
type(a)

complex

In [18]:
z1 = 3+8j
z2 = 3+5j
z3=z1+z2
print( "Addition is : ", z3)

Addition is :  (6+13j)

In [19]:
z1 = complex(2,4)
print(z1)
z2 = complex(4,5)
print(z2)
z3=z1+z2
print( "Addition is : ", z3)

(2+4j)
(4+5j)
Addition is :  (6+9j)

## Strings

    Strings identified as a contiguous set of characters represented in the quotation marks. Python allows for either pairs of single or double quotes. 

    Subsets of strings can be taken using the slice operator ([ ] and [:] ) with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.

    The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator. 
    
    It is a immutable object so we can not update or change it.

In [20]:
str = 'Hello World!'
print(str)

Hello World!

In [21]:
print(str[8])

r

In [22]:
print (str[-6:-1])#end index -1(2 to 6)

World

In [23]:
print (str[6:-1])

World

In [28]:
print (str[:])

Hello World!

In [26]:
str = 'Hello World!'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:7])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 5)      # Prints string two times
print("-"*79)
print (str + " TEST") # Prints concatenated string
print (str[:-5])       # Prints first character of the string
print (str[-9:-7])       # Prints first character of the string
print (str)          # Prints complete string
print(str[6:11])
print(str[-6:-1])
print(str[:])
print ('hELLO ' * 5+' WORLD '+' JAY'*5)   
#str[0]="j"# because of it is immutable

Hello World!
H
llo W
llo World!
Hello World!Hello World!Hello World!Hello World!Hello World!
-------------------------------------------------------------------------------
Hello World! TEST
Hello W
lo
Hello World!
World
World
Hello World!
hELLO hELLO hELLO hELLO hELLO  WORLD  JAY JAY JAY JAY JAY

## Lists


    A list contains items separated by commas and enclosed within square brackets ([]).

    lists are similar to arrays in C. One difference between them is that all the items belonging to a list can be of different data type.

    The values stored in a list can be accessed using the slice operator ([ ] and [:]) with indexes starting at 0 in the beginning of the list and working their way to end -1. 

    The plus (+) sign is the list concatenation operator, and the asterisk (*) is the repetition operator.
    
    It is a mutable object so we can change or update or add element in the list.

In [31]:
list1 = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
list2 = [123, 'john']
list3=[]
print(list1)
print(list2)
print(list3)

list1[0]='jaysukh patel' 
list1[1]=45   
list1[2]=78.67  
list2.append("Manush")
list3.append('jaysukh patel')
list3.append(45)
list3.append(78.67)
#list2.append([1,2,3,4])#it appends whole list as an element
#list2.extend([1,2,3,4])#it appends individual element of the list


print(list1)
print(list2)
print(list3)

['abcd', 786, 2.23, 'john', 70.2]
[123, 'john']
[]
['jaysukh patel', 45, 78.67, 'john', 70.2]
[123, 'john', 'Manush']
['jaysukh patel', 45, 78.67]

In [34]:
print(list1)
print(list2)

print (list1[0])       # Prints first element of the list
print (list1[1:3])     # Prints elements starting from 2nd till 4th 
print (list1[2:])      # Prints elements starting from 3rd element
print (list2 * 2)  # Prints list two times
print (list1 + list2+list3) # Prints concatenated lists
print (list1[-2])       # Prints first element of the list
print (list1[-5])       # Prints first element of the list
list1[2]='Kiran'
print(list1)
#list1[9]="jay"
list1.append("kajal")
print (list1)

['jaysukh patel', 45, 'Kiran', 'john', 70.2, 'kajal']
[123, 'john', 'Manush']
jaysukh patel
[45, 'Kiran']
['Kiran', 'john', 70.2, 'kajal']
[123, 'john', 'Manush', 123, 'john', 'Manush']
['jaysukh patel', 45, 'Kiran', 'john', 70.2, 'kajal', 123, 'john', 'Manush', 'jaysukh patel', 45, 78.67]
70.2
45
['jaysukh patel', 45, 'Kiran', 'john', 70.2, 'kajal']
['jaysukh patel', 45, 'Kiran', 'john', 70.2, 'kajal', 'kajal']

## Tuples

    A tuple is another sequence data type that is similar to the list. 

    A tuple consists of a number of values separated by commas. 

    Unlike lists, however, tuples are enclosed within parentheses.

    The main differences between lists and tuples are: Lists are enclosed in brackets ( [ ] ) and their elements and size can be changed, while tuples are enclosed in parentheses ( ( ) ) and cannot be updated. 

    Tuples can be thought of as read-only lists.
    
    It is a immutable object so we can not change or update it.

In [2]:
t1 = ( 'abcd', 786 , 2.23, 'john', 70.2 )
t2 = (123, 'john')
t3=()
print(t1)
print(t2)
print(t3)
#t1[0]='jaysukh patel'

('abcd', 786, 2.23, 'john', 70.2)
(123, 'john')
()

In [3]:
print(t1)
print (t1[0])       # Prints first element of the list
print (t1[1:3])     # Prints elements starting from 2nd till 4th 
print (t1[2:])      # Prints elements starting from 3rd element
print (t2 * 2)  # Prints list two times
print (t1 + t2) # Prints concatenated lists
print (t1[-2])       # Prints first element of the list
print (t1[-5])       # Prints first element of the list
#t1[2]='Kiran'
a=t1[0]
b=t1[4]
#lst=list(a,)

tu=tuple(a+str(b))
print(tu)

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')
john
abcd
('a', 'b', 'c', 'd', '7', '0', '.', '2')