# Dictionary

1. Dictionaries are kind of hash table type.    
2. It is an associative array or it consist of key-value pairs.     
3. A key can be almost any Python type, but are usually numbers or strings.     
4. Values can be any Python object.    
5. Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([]).

In [1]:
dict1 = {}  #empty dictionary
print(dict1)
dict1['one'] = "This is one" # key-str value-str
dict1['jay'] = "pass"        # key-str value-str
dict1['kiran'] = "Fail"      # key-str value-str
dict1[1] = 67                # key-number value-number
dict1['jay2910']='hardisk'   # key-str value-str
dict1[('Name',)]=78           # key-tuple value-number
dict1['nirav']=['hardisk','keyboard','mouse']   # key-str value-list
dict1['sirish']=('hardisk','keyboard','mouse')   # key-str value-tuple
dict1['ITS']={'trainer':'Jaysukh patel','codeno':100}   # key-str value-dict

print(dict1)

{}
{'one': 'This is one', 'jay': 'pass', 'kiran': 'Fail', 1: 67, 'jay2910': 'hardisk', ('Name',): 78, 'nirav': ['hardisk', 'keyboard', 'mouse'], 'sirish': ('hardisk', 'keyboard', 'mouse'), 'ITS': {'trainer': 'Jaysukh patel', 'codeno': 100}}

In [2]:
print(dict1['one'])       # Prints value for 'one' key
print(dict1['kiran'])       # Prints value for 'one' key
print(dict1[1])       # Prints value for 'one' key

dict1[2]= "This is two"
print(dict1[2])       # Prints value for 'one' key
dict1['one']=1
print(dict1)

This is one
Fail
67
This is two
{'one': 1, 'jay': 'pass', 'kiran': 'Fail', 1: 67, 'jay2910': 'hardisk', ('Name',): 78, 'nirav': ['hardisk', 'keyboard', 'mouse'], 'sirish': ('hardisk', 'keyboard', 'mouse'), 'ITS': {'trainer': 'Jaysukh patel', 'codeno': 100}, 2: 'This is two'}

In [3]:
dict1['one'] = 56
print(dict1)

{'one': 56, 'jay': 'pass', 'kiran': 'Fail', 1: 67, 'jay2910': 'hardisk', ('Name',): 78, 'nirav': ['hardisk', 'keyboard', 'mouse'], 'sirish': ('hardisk', 'keyboard', 'mouse'), 'ITS': {'trainer': 'Jaysukh patel', 'codeno': 100}, 2: 'This is two'}

In [4]:
dict2 = {'name': 'john','code':6734, 'dept': 'sales'}


print (dict1['one'])       # Prints value for 'one' key
print (dict1[2])           # Prints value for 2 key
print (dict2)          # Prints complete dictionary
print (dict2.keys())   # Prints all the keys
print (dict2.values()) # Prints all the values
print (dict1.keys())   # Prints all the keys
print (dict1.values()) # Prints all the values
dict1['jay']=67
dict2['manush']=89
print(dict1)
print(dict2)

56
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])
dict_keys(['one', 'jay', 'kiran', 1, 'jay2910', ('Name',), 'nirav', 'sirish', 'ITS', 2])
dict_values([56, 'pass', 'Fail', 67, 'hardisk', 78, ['hardisk', 'keyboard', 'mouse'], ('hardisk', 'keyboard', 'mouse'), {'trainer': 'Jaysukh patel', 'codeno': 100}, 'This is two'])
{'one': 56, 'jay': 67, 'kiran': 'Fail', 1: 67, 'jay2910': 'hardisk', ('Name',): 78, 'nirav': ['hardisk', 'keyboard', 'mouse'], 'sirish': ('hardisk', 'keyboard', 'mouse'), 'ITS': {'trainer': 'Jaysukh patel', 'codeno': 100}, 2: 'This is two'}
{'name': 'john', 'code': 6734, 'dept': 'sales', 'manush': 89}

In [5]:
dic3={"jay":['hardisk','keyboard','mouse'],"kiran":('hardisk','keyboard','mouse'),"lalit":{"rollno":1,"sex":"male"}}
print(dic3)
print(dic3["jay"])
print(dic3["jay"][0])
print(dic3["jay"][1])
print(dic3["jay"][2])
print(dic3["jay"][0:2])
print(dic3["jay"][1:3])
print(dic3["kiran"])
print(dic3["kiran"][0])
print(dic3["kiran"][1])
print(dic3["kiran"][2])
print(dic3["kiran"][0:2])
print(dic3["kiran"][1:3])
print(dic3["lalit"])
print(dic3["lalit"]["rollno"])
print(dic3["lalit"]["sex"])


#t1=dic3["kiran"]
#t1[0]='hiren'

{'jay': ['hardisk', 'keyboard', 'mouse'], 'kiran': ('hardisk', 'keyboard', 'mouse'), 'lalit': {'rollno': 1, 'sex': 'male'}}
['hardisk', 'keyboard', 'mouse']
hardisk
keyboard
mouse
['hardisk', 'keyboard']
['keyboard', 'mouse']
('hardisk', 'keyboard', 'mouse')
hardisk
keyboard
mouse
('hardisk', 'keyboard')
('keyboard', 'mouse')
{'rollno': 1, 'sex': 'male'}
1
male

# set

1. It is just a sequence data structure like list,tuple and string.    
2. Unorderd collection    
3. No duplicates allowed    
4. We can not retrive element by index like list tuple or string    
5. It is mutable object so we can add or remove elements from it but we can not change or update any element from set.    
6. It can contain only unique values.    

#### Note :list and tuple--It can contains duplicate values and it is ordered collection

In [9]:
d1={}#empty dictionary
d2=dict()#empty dictionary

s1=set()#empty set

l1=[]#empty list
l2=list()#empty list

t1=()#empty tuple
t2=tuple()#empty tuple

s1={"jaysukh",56,78.89,"Pass",23,23,23,23,23,"jaysukh",56,78.89,"pass"}
print(s1)
#print(s1[0])     #you can not perform this operation using index
#s1[0]="kartik"   #you can not perform this operation using index
#print(s1)
s1.add(45)
print(s1)
s1.remove("jaysukh")
print(s1)
s1.update([34,67,"jay"])
print(s1)
s1.update("jay")
print(s1)
s1.update((56,789,10))
print(s1)
s1.update("jay")
print(s1)
s1.add("kiran")
print(s1)
s1.add((34,67,"jay"))
print(s1)
s1.add("kiran")
print(s1)

{'Pass', 'jaysukh', 23, 56, 'pass', 78.89}
{'Pass', 'jaysukh', 23, 56, 'pass', 45, 78.89}
{'Pass', 23, 56, 'pass', 45, 78.89}
{'Pass', 67, 78.89, 23, 34, 45, 56, 'pass', 'jay'}
{'Pass', 67, 78.89, 'y', 23, 34, 'a', 45, 'j', 56, 'pass', 'jay'}
{'Pass', 67, 10, 78.89, 'y', 789, 23, 34, 'a', 45, 'j', 56, 'pass', 'jay'}
{'Pass', 67, 10, 78.89, 'y', 789, 23, 34, 'a', 45, 'j', 56, 'pass', 'jay'}
{'Pass', 67, 10, 78.89, 'y', 789, 23, 34, 'a', 45, 'kiran', 'j', 56, 'pass', 'jay'}
{'Pass', 67, 10, 78.89, 'y', 789, 23, 34, 'a', 45, 'kiran', 'j', 56, (34, 67, 'jay'), 'pass', 'jay'}
{'Pass', 67, 10, 78.89, 'y', 789, 23, 34, 'a', 45, 'kiran', 'j', 56, (34, 67, 'jay'), 'pass', 'jay'}

# Data Type Conversion

built-in functions to perform conversion from one data type to another. 

These functions return a new object representing the converted value.


### Function & Description

int(x)
Converts x to an integer.  x is a string.

float(x)
Converts x to a floating-point number.

str(x)
Converts object x to a string representation.

eval(str)
Evaluates a string and returns an object.

tuple(s)
Converts s to a tuple.

list(s)
Converts s to a list.

set(s)
Converts s to a set.

dict(d)
Creates a dictionary. d must be a sequence of (key,value) tuples.

chr(x)
Converts an integer to a character.

ord(x)
Converts a single character to its integer value.

In [1]:
print(int('10'))
print(float('23.4567'))
print(eval('23.4567+45+45'))
#print(eval(23.4567+45+45))#error
print(23.4567+45+45)
print(tuple('jay patel'))
print(list('jay patel'))
print(set('jay patel'))
print(set('Aaryan Kalthia'))
print(dict({'name': 'john','code':6734, 'dept': 'sales'}))
print(chr(97))#ascii value
print(ord('a'))
#print(int('jaysukh patel'))

10
23.4567
113.4567
113.4567
('j', 'a', 'y', ' ', 'p', 'a', 't', 'e', 'l')
['j', 'a', 'y', ' ', 'p', 'a', 't', 'e', 'l']
{'y', 'e', 'p', 'j', 't', 'l', 'a', ' '}
{'y', 'i', 'r', 'A', 'l', 'n', 't', 'h', 'a', ' ', 'K'}
{'name': 'john', 'code': 6734, 'dept': 'sales'}
a
97

# Operators In Python

1. Arithmetic Operators
2. Comparison (Relational) Operators
3. Assignment Operators
4. Logical Operators
5. Membership Operators
6. Identity Operators

## Arithmetic Operators

    Assume that
    a=27
    b=5

    Addition c=a+b----------(32)
    Subtraction c=a-b-------(22)
    Multiplication c=a*b----(135)
    Division c=a/b----------(5.4)
    Floor division c=a//b---(5)
    Modulus c=a%b-----------(2)
    Exponent c=a**2---------(729)

#### Note :
    Floor Division - The division of operands where the result is the quotient in which the digits after the decimal point are removed. But if one of the operands is negative, the result is floored, i.e., rounded away from zero (towards negative infinity)
    
    9//2 = 4
    9.0//2.0 = 4.0
    -11//3 = -4
    -11.0//3 = -4.0

## Comparison Operators or Relational operators

In [5]:
print(34!=34)

False

The comparison of two varable values will give you either result True or False 
    
    ==   equal to
    !=   not equal to
    <>   not equal to
    >    greater than
    <    less than
    >=   greater than or equal to
    <=   less than or equal to

## Assignment Operators

    =       Assigns values from right side to left side (c=a+b)
    +=      c += a is equivalent to c = c + a
    -=      c -= a is equivalent to c = c - a
    *=      c *= a is equivalent to c = c * a
    /=      c /= a is equivalent to c = c / a
    //=     c //= a is equivalent to c = c // a
    %=      c %= a is equivalent to c = c % a
    **=     c **= a is equivalent to c = c ** a

## Logical Operators

    and     All the conditions must be True then result is True
    or      Any one condition must be True then result is True
    not     If the condition is True It will give you False and vice versa

## Membership Operators

    It is used to check the particular element is present in the sequence data type like string,list,tuple or set
    
    It will give you result True or False
    
    in---------To check the element is present
    not in-----To check the element is not present

In [6]:
a = 2
list1 = ['1', '2', '3', '4', '5' ]
list2 = [1, 2, 3, 4, 5 ]

print(a in list1)
print(a in list2)
print(a not in list1)
print(a not in list2)

False
True
True
False

In [7]:
2 in (1,2,34,5)

True

In [8]:
"pt" in "jaysukh patel"

False

In [9]:
[1,2,3] in [1,2,3,4,5,6,[1,2,3]]

True

In [10]:
34 in [1,2,34,5]

True

## Identity Operators

    Identity operators compare the address of the memory locations of two objects and it will give you either result True or False. 

    is       compares two object references or addresses(not values)
    is not   compares two object references or addresses(not values)

In [11]:
a = 20
b = 20
p=10
q=20
r=p+q-20
print(id(p))
print(id(r))
print(p is r)
print('*'*79)
print(id(a))
print(id(b))
print(a is b)
print ( id(a) == id(b) )
print('*'*79)  

b = 30
print(id(a))
print(id(b))
print( a is b )
print ( a is not b )

2355440937552
2355440937552
True
*******************************************************************************
2355440937872
2355440937872
True
True
*******************************************************************************
2355440937872
2355440938192
False
True

In [ ]:
#programs for arithmetic operators